@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --colorDeFondo: #eafdf5;
    --colorDeFondo2:linear-gradient(
        to right, 
        #73e2b4, 
        #eafdf5);
    --colorIcono1: #e91c1c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--colorDeFondo);
    font-size: 1rem;
}
/*Estilos para la barra de navegacion*/
#header {
    display: flex;
    width: 100%;
    height: 10%;
    position: fixed;
    background: var(--colorDeFondo2);
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    margin: 0;
}

#nav-bar {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

#nav-bar>ul li {
    padding: 0 2%;
    font-size: 1.5rem;
    
}

#logo>#header-img {
    min-width: 30%;
    max-width: 50%;
    max-height: 90%;
    padding: 5px 0;
    margin: 2px auto;
    vertical-align: middle;
}

#logo {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; 
    margin-left: 5rem;  
}

#envoltura {
    position: absolute;
    top: 11%;
    bottom: 0;
    margin: 1rem auto;
    text-align: center;
}

/*Estilos de mi formulario*/
#hero>h2 {
    font-size: 3rem;
}

#hero>h2::after {
    content: " ";
    display: block;
    height: 20px;
}

#email {
    width: 30rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 3px;
}

.btn {
    display:block;
    min-width: 6.5rem;
    width:20%;
    margin: 1em auto;
    font-size:1.1rem;
    height: 3em;
    background: linear-gradient(
        to bottom, 
        #73e2b4, 
        #eafdf5);
    border-radius: 5px;
    opacity: 0.9;
}

#hero::after {
    content: " ";
    display: block;
    height: 3rem;
}

/*Seccion de caracteristicas*/

#características {
    width: 85%;
    height: auto;
    margin: 1.5rem auto;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    line-height: 2;
}

#características h2 {
    text-align: left;
}

#características p {
    text-align: justify;
}

.icono, .descripción {
    align-self: center;
    justify-self: center;
    margin-top: 3rem;
}

.icono {
    font-size: 5rem;
    color: var(--colorIcono1);
}

.descripción {
    padding: 0 2rem;
}

/*Video de funcion*/

#función {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#función>iframe {
    border-radius: 6px;
}

/* Valores y precios*/

#precios {
    display: flex;
    width: 90%;
    height: auto;
    margin: 1.5rem auto;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.producto {
    display: grid;
    grid-template-rows: 5rem 4rem 25rem 4rem;
    border: 2px solid black;
    border-radius: 4px;
    line-height: 1.5;
    width: 35%;
    height: 100%;
    margin: 0 1rem;
    padding: 0;
    gap: 5px;
}

.servicio {
    display: flex;
    background: var(--colorDeFondo2);
    width: 100%;
    height: 100%;
    padding:0;
    font-size: 1.2rem;
    align-items: end;
    justify-content: center;
}

.servicio>p {
    height: 100%;
    width: 100%;
    padding: 1.5px 0;
    vertical-align: center;
    place-self: center end;
}

.producto>ol {
    width: 88%;
    height: 100%;
    text-align: justify;
    place-self: center start;
    margin: 0 auto;
}

.producto>ol li::after {
    display: block;
    content: " ";
    height: 1rem;
}

.producto>h2 {
    place-self: center;
}

.producto>.btn {
    place-self: center;
    width: 30%;
    height: 80%;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem 1.5rem;
    place-items: center;
    width: 100%;
    background: var(--colorDeFondo2);
    gap: 1rem;
}

footer>ul li{
    height: 100%;
    padding: 2px;
    align-content: center;
}

footer>ul, footer>span {
    place-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
}

@media only screen and (max-width:1010px) {
   html  {
        font-size: 45%;
    }   
}

@media only screen and (max-width:730px) {

    html  {
        font-size: 50%;
    }
    #header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 25%;
        position: fixed;
        background: var(--colorDeFondo2);
        top: 0;
        z-index: 999;
    }

    #nav-bar {
        height: 49%;
        position: absolute;
        bottom: 0;
        right: unset;
        margin: 0 auto;
    }
    
    nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin-bottom: 5px;
    }

    #logo>#header-img {
        max-width: unset;
        width: 100%;
        height: 100%;
        margin: unset;     
    }
    
    #logo {
        margin: unset;
        height: 49%;
        position: absolute;
        top: 0;
        left: unset;
        overflow: hidden; 
        justify-content: center;
    }

    #envoltura {
        position: absolute;
        top: 31%;
        bottom: 0;
        margin: 1rem auto;
        text-align: center;
    }

    #precios {
        display: flex;
        width: 60%;
        height: auto;
        margin: 1.5rem auto;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }

    .producto {
        width: 100%;
        height: 35%;
        gap: 5px;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    #envoltura {
        top: 40%;
    }

    #función>iframe {
        width: 80%;
        height: auto;
    }
}