@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --colorDeFondo: #eafdf5;
    --colorIcono1: #e91c1c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    background-color: whitesmoke;
    font-size: 1rem;
}
/*Estilos para la barra de navegacion*/
#header {
    display: flex;
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: var(--colorDeFondo);
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    margin: 0;
}

#nav-bar {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

#nav-bar>ul li {
    padding: 0 2%;
    font-size: 2rem;
    
}

#logo>#header-img {
    min-width: 30%;
    max-width: 50%;
    max-height: 90%;
    padding: 5px 0;
    margin: 2px auto;
    vertical-align: middle;
}

#logo {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; 
    margin-left: 8rem;  
}

#envoltura {
    position: absolute;
    top: 11%;
    bottom: 0;
    margin: 1rem auto;
    text-align: center;
}

/*Estilos de mi formulario*/
#hero>h2 {
    font-size: 3rem;
}

#hero>h2::after {
    content: " ";
    display: block;
    height: 20px;
}

#email {
    width: 30rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 3px;
}

.btn {
    display:block;
    width:20%;
    margin: 1em auto;
    font-size:1.1rem;
    height: 3em;
    background: linear-gradient(
        to right, 
        #73e2b4, 
        #eafdf5);
    border-radius: 5px;
    opacity: 0.5;
}

#hero::after {
    content: " ";
    display: block;
    height: 3rem;
}

/*Seccion de caracteristicas*/

#características {
    width: 85%;
    height: auto;
    margin: 1.5rem auto;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    line-height: 2;
}

#características h2 {
    text-align: left;
}

#características p {
    text-align: justify;
}

.icono, .descripción {
    align-self: center;
    justify-self: center;
    margin-top: 3rem;
}

.icono {
    font-size: 5rem;
    color: var(--colorIcono1);
}

.descripción {
    padding: 0 2rem;
}

/*Video de funcion*/

#función {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#función>iframe {
    border-radius: 6px;
}